body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2.5em;
    background-position: center;
}

.app-container{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 15px;
    font-size: 1.5em;
    box-shadow:  0 0 10px 10px  rgb(190, 190, 190);
   
}

 .data-container{
     display: block;
     background-color: none;
 }

button{
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    color: #0a0a0a;
    width: 5em;
}

button:hover{
    color: rgb(255, 255, 255);
    font-weight: 50;
    background-color: rgb(35, 183, 228);
    transition: 0.1s;
    font-weight: 200;
}

.button:active{
    color: rgb(255, 255, 255);
    font-weight: 50;
    background-color: rgb(35, 183, 228);
    transition: 0.2s;
    font-weight: 200;
}


.small-data, .small-elevation{
    margin-top: 2.9rem;
    width: 120px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    outline: none;
    color: rgb(0, 0, 0);
    border: none;
    border-radius:10px;
}
    
span{
   font-family: 'Courier New', Courier, monospace;
    color: #b1b1b1;
    font-size: 50px;
}

.reset{
    margin-bottom: 10px;
}